
/** Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
*		{
			-mmoz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

.band {
	text-align: center;
}

header, body, p, h1, h2, h3 {
	font-size: 100%;
	font-family: "proxima-nova" Arial, sans-serif;
	font-weight: 400;
	color: #413B45;
}

h1 {
	font-weight: 600;
	font-size: 1.5em;
}

h2 {
	font-weight: 600;
	font-size: 1.5em;
	color: #818282;
	line-height: .7em;
}

h3 {
	font-size: 2em;
	font-weight: 300;
}

p {
	font-size: 1.25em;
	line-height: 1.75em
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

iframe {
	margin-left: 10px;
}


/*common page layout
==========================*/

.main-page {  
	color: #ffffff;
	height: auto;
	margin: auto;
	padding: 150px 0 100px 0;
	background-size: cover;	
}

/*page divider
=========================*/
.logo {
	border-color: #413B45;
}

.logo-div {
	height: 50px;
	vertical-align: center;
	margin: 5% 15% 0 15%;
}

hr.logo:after { 
  background: url('../images/em.svg') no-repeat top center;
  content: "";
  display: block;
  height: 48px; /* height of logo */
  position: relative;
  top: -24px; /* half the height of logo */
  margin: 0 15%;
}

/*buttons
=========================*/

input[type="submit"] {
	display: block;
	height: 40px;
	width: 110px;
	background: #6FA99C;
	opacity: 0.75;
	color: #ffffff;
	font-family: "proxima-nova", sans-serif !important;
	font-size: 1em;
	font-weight: 400;
	border: none;
	text-align: center;
	line-height: 40px;
	margin: 1% auto 0 auto;
}

input[type="submit"]:hover {
	background: #8ECEBD;
}

button[type="button"] {
	color: #ffffff;
	font-family: "proxima-nova", sans-serif !important;
	font-size: 1em;
	font-weight: 200 !important;
	letter-spacing: 0.05em;
	width: 200px;
	height: 60px;
	border: 1px solid #ffffff;
	background-color: transparent;
}

button[type="button"]:hover {
	background-color: #6FA99C;
	opacity: 0.75;
	border: none;
}
/* #NAVIGATION Styles
================================================== */

.navigation {
	width: 100%;
	height: 71px;
	background-color: #6FA99C;
	opacity: 0.75;
	position: fixed;
	z-index: 999;
}

nav.primary ul li {
	display: inline;
	position: relative;
}

nav.primary ul li a {
	display: inline-block;
	font-weight: 600;
	font-size: .75em;
	line-height: 71px;
	height: 71px;
	padding: 0 10px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.02em; 
}

nav.primary ul a:hover {
	background: #537E75;
}

nav.primary ul a:active {
	background: #537E75;
}

/* #HOME (intro) PAGE
================================================== */

.home {
	background:url('../images/sailing3.jpg') 50% no-repeat fixed;
	color: #ffffff;
	height: 950px;
	margin: 0;
	padding: 150px 0 260px 0;
	background-size: cover;
}

.logo-a {
	padding-top: 5%;
}

.hello-title {
	padding-top: 3%;
	font-size: 2.25em;
	line-height: 1.25em;
	margin-left: 10%;
	margin-right: 10%;
	color: #ffffff;
}

.hello {
	max-width: 900px;
	padding: 0 10% 0 10%;
	margin: auto;
	padding-top: 2em;
	color: #ffffff;
}

.learn {
	margin: 75px auto 0;
}

/* ABOUT ME
================================================== */

.title {
	letter-spacing: 0.1em;
}

.title-underline {
	height:1px;
	background: #413B45;
	width: 100px;
	margin: auto;
	margin-top: 2.5em;
} 

.bio-pic {
	display: block;
	max-width: 135px;
	margin: 2% auto 0;
}

.about-me {
	max-width: 960px;
	text-align: left;
	margin: auto;
	overflow: hidden;
	padding: 3% 5% 0;
}

.about-me a:hover, a:focus {
	font-weight: 600;
}

.about {
	margin-top: 10%;
	height: 175px;
/*	background-color: #67626A;*/ 
}

.tweets {
	float: left;
	display: inline;
}

/* MY WORK (PORTFOLIO INDEX)
================================================== */

.work {
	color: #ffffff;
	height: auto;
	margin: 0;
	padding: 150px 0 100px 0;
	background-size: cover;	
}

/* CONTACT
================================================== */

.title-contact {
	font-weight: 400;
	padding: 0 15% 0 15%;
}

.contact-content {
	padding-top: 5%;
	height: auto;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
	border: none;
	background: #F1EDEA;
	height: 46px;
	margin-bottom: 16px;
	width:75%;
	max-width: 460px;
	padding-left: 25px;
}

.contact-form textarea {
	border: none;
	background: #F1EDEA;
	height: 177px;
	margin-bottom: 3%;
	width:75%;
	max-width: 460px;
	padding: 15px 25px 0 25px;
}

/* SOCIAL SECTION
================================================== */

.social {
	background:url('../images/cleat.jpg') 50% no-repeat fixed;
	color: #ffffff;
	height: 800px;
	margin: 0;
	padding: 150px 0 260px 0;
	background-size: cover;
}

.more {
	font-size: 1.5em;
	font-weight: 600;
	line-height: 1.25em;
	color: #ffffff;
	letter-spacing: 0.09em;
	font-weight: 600;
	padding-left: 10%;
	padding-right: 10%;
}

.title-underline-lite {
	height:1px;
	background: #ffffff;
	width: 100px;
	margin: auto;
	margin-top: 2.5em;
} 

.links-white svg {
	margin-top: 5%;
	padding-left: 1%;
	padding-right: 1%;
}

.icon:hover {
  fill: #85D6C5;
}

.copywrite {
	color: #ffffff;
	font-size: 1em;
	margin-top: 10%;
}

/* RESUME PAGE
================================================== */

.home-icon {
	position: relative;
	line-height: 30px;
	float: left;
}

.home-icon-link {
		margin-top: 20px;
}

.download {
	float: right;
	color: #ffffff; 
}

.download-link {
	margin-top: 15px;
}

.res-intro {
	font-style: italic;	
}

.left, 
.middle, 
.right {
	padding-left: 10px;
	padding-right: 10px;
} 

.middle, 
.right {
	padding-top: 12px;
	font-size: .85em;
}

.bottom-left, 
.bottom-middle-left, 
.bottom-middle-right, 
.bottom-right {
	padding: 0 10px 0 10px;
	float: left;
}

.colone, 
.coltwo, 
.colthree {
	width: 180px;
	padding: 0px;
	margin-right: 20px;
	float: left;
	display: inline-block;
}

nav.res-link ul li {
	display: inline;
	position: relative;
}

nav.res-link ul li a {
	display: inline;
	padding: 0 15px;
}

.res-icon {
	opacity: 0.54;
}

.res-icon:hover {
	fill: #537E75;
} 





/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
